#container, #sendEmailContainer, #containerHelp, #folderAddContainer, #showContainer {
    -fx-background-image: url("../images/back.jpg");
    -fx-graphic: url("../images/icon.png");
}

#signInBtn, #composeBtn, #deleteBtn, #addFolderBtn, #settingsBtn, #send, #backCompose, #helpBtn, #clear,
#add, #draft, #show, #forward, #deleteFolder, #reply, #replayAll, #about, #addAtttachment, #addEmbedded, #goBackInShow, #menu, #moveTo {
    -fx-alignment: center;
    -fx-background-color: #cceeff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#helpLabel, #newEmailLabel, #title, #welcome , #emailLbl, #folderLbl, #welcomeLbl, #label {
    -fx-background-color: #b3ffb3;
}

#attachContainer {
    -fx-background-color: white;
}

#btnAttach {
  -fx-background-color: #20B2AA;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}

#selected {
   -fx-background-color: wheat;
}

#htmlTabShow, #textTabShow, #textTabSend, #htmlTabSend {
 -fx-background-color: #C8FEE5;
}

